<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MySchedulerApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="予定管理アプリケーション"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="m">
        <activity
            android:name=".MainActivity2"
            android:label="今日の占い"
        />
        <activity
            android:name=".SampleActivity"
            android:label="背景・透明度変更" />
        <activity
            android:name=".tenki"
            android:usesCleartextTraffic="true"
            android:label="天気予報"
            tools:targetApi="m" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.MyApplication.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>